// Base is normally used for initial and default settings
// be it for colors, typography, margins, units, etc.
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

html {
  font-size: 62.5%; // 1rem = 10px -- 10px / 16px = 62.5%
}
