@media screen and (prefers-reduced-motion: reduce) {
  .library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background: white;
    box-shadow: .2rem .2rem 5rem gray;
    overflow: scroll;
    transform: translate(-100%);
    transition: none;
    opacity: 0;

    h2 {
      padding: 2rem;
    }
  }
}

.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: white;
  box-shadow: .2rem .2rem 5rem gray;
  overflow: scroll;
  transform: translate(-100%);
  transition: all .5s ease;
  opacity: 0;

  h2 {
    padding: 2rem;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .library-song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    transition: none{
      width: 30%;
    }

    &:hover,
    &:focus {
      background: rgb(222, 222, 225);
    }
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: background .5s ease;

  img {
    width: 30%;
  }

  &:hover,
  &:focus {
    background: rgb(222, 222, 225);
  }
}

.song-description {
  padding-left: 1rem;

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: .7rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, .5) transparent;
}

*::-webkit-scrollbar {
  width: .5rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border: transparent;
  border-radius: 2rem;
  background-color: rgba(155, 155, 155, .5);
}

.selected {
  background: rgb(111, 135, 201);
}

.active-library {
  transform: translate(0%);
  opacity: 1;
}
